body{
background-color:#e2e2e2;
font-family: 'Noto Sans KR', sans-serif;
}
h1{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight:900;
}
h2{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight:400;
}
a{

}
a:link{
color:#0d0d0d;
text-decoration: none;
}
a:visited{
color:#0d0d0d;
}
a:hover{
color:#595959;
}

.txt{
color:#0d0d0d;
}
